<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录页面1</title>
    <link rel="stylesheet" href="bootstrap-3.3.7-dist/css/bootstrap.css">

</head>
<style>
    #div1{
        margin-left: 10%;
        margin-right: 10%;
        height: 800px;
    }
    #div11{
        padding: 8%;
    }
    #left{

    }
    img{
        width: 100%;
        height: 100%;
    }
    #right{
        height: 490px;
        border: 1px solid black;
        border-radius: 10px;
        padding: 3%;
    }
    .form-control{
        height: 50px;
    }
</style>
<body>
<div id="div1" class="row">
    <div id="div11">
        <div  class="row">
            <div id="left" class="col-md-6 col-sm-0 hidden-xs hidden-sm" >
                <a href="#" ><img src="images/login-banner.png" alt=""></a>
            </div>
            <div   class="col-md-6">
                <div class="col-md-1 col-sm-12">

                </div>
                <div >
                    <div id="right" class="col-md-11 " >
                        <h3>账号登录</h3>
                        <form  action="/user/login" method="post">
                            <div class="form-group">
                                <input type="text" name="username" class="form-control" id="exampleInputEmail1" placeholder="请输入用户名/邮箱/手机号">
                            </div>
                            <div class="form-group">
                                <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="请输入您的密码">
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"> 下次自动登录
                                </label>
                                <button type="button" class="btn btn-link">忘记密码</button>

                            </div>
                            <button type="submit" class="btn btn-danger btn-lg btn-block">登录</button>
                        </form>
                        <hr>
                        <p>第三方账户登录</p>
                        <div>
                            <a href="#"><img src="images/login-third-party-new.png" alt="" style="width: 293px"></a>
                        </div>
                        <div class="register-now"><span>还没有CSDN帐号？</span>
                            <span class="register tracking-ad" data-mod="popu_28">
	                	<a href="#" >立即注册</a>
	                </span>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div id="bottom" style="background-color:white; height: 200px; color: black; padding: 2%">
        <div style="margin-left:15%; margin-right: 5%">
            <div class="row" style="border-bottom:1px solid white">
                <div class="col-md-4" style="text-align: center ; border-right:1px solid white" >
                    <h3>联系方式</h3>
                </div>
                <div class="col-md-8">
                    <a class="navbar-brand" href="#">主页</a>
                    <a class="navbar-brand" href="#">文章推荐</a>
                    <a class="navbar-brand" href="#">个人中心</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4" style="border-right:1px solid white">
                    <p>个人微信号：weixin</p>
                    <p>邮箱：1145114815@qq.com</p>
                    <p>微博:南征北战</p>
                </div>
                <div class="col-md-8" >
                    <div class="col-md-6">
                        <img src="images/654513.jpg" alt="" style="width: 100px">
                        <p>个人微信号：weixin</p>
                        <p>邮箱：1145114815@qq.com</p>
                    </div>
                    <div class="col-md-6">
                        <p><span>Copyright</span><span>&copy;</span><span>2017</span><a href="#">融智教育</a><span>Design By LY</span></p>
                        <p><a href="" target="_blank">豫ICP备16029915号-1</a></p>
                        <p>邮箱：1145114815@qq.com</p>

                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
</body>
</html>

<srcipt>

</srcipt>
